.heading
{
font-size: 19px;
width: 100%;
margin: 0px;
}

.note
{
    font-size: 16px;
    color: #61635f;
}

body
{
    background-size: cover;
}

canvas
{
    border: 5px solid white;
    border-radius: 20px;
}